<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>写诗人</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              写诗人
            </a>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="thumbnail">
            <img src="/images/发布.jpg" alt="...">
            <div class="caption">
              <h3>发布诗歌功能介绍</h3>
              <p>1.设置对齐方式：居左，居中</p>
              <p>2.配图：横长图(16:9)，方图，竖长图(9:16)</p>
              <p>3.添加标签，最多可添加5个，每个标签文字不超过10个汉</p>
              <p>4.添加注释</p>
            </div>
          </div>
        </div>
      </div>

      <div class="list-group">
        <a href="#" class="list-group-item active">
          其他功能
        </a>
        <a href="#" class="list-group-item">在详情页可以将作品保存成图片</a>
        <a href="#" class="list-group-item">根据自己的喜好设置作品字体</a>
      </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>